[submodule "frontend/public/bsatn"]
	path = frontend/public/bsatn
	url = https://github.com/BitCraftToolBox/BitCraft_BSATN_Data
[submodule "frontend/src/bindings"]
	path = frontend/src/bindings
	url = https://github.com/BitCraftToolBox/BitCraft_Bindings
	branch = ts-region
[submodule "frontend/public/assets/bitcraft"]
	path = frontend/public/assets/bitcraft
	url = git@github.com:BitCraftToolBox/BitCraft_Assets.git
