@import "tailwindcss";

@reference "tailwindcss/theme.css";
@config "../tailwind.config.cjs";

@layer base {

    :root {
        --background: 44, 44.7%, 83.7%;
        --foreground: 203, 70.9%, 28.7%;

        --muted: 44.1, 27.9%, 76.1%;
        --muted-foreground: 203, 70.9%, 33%;

        --popover: 45, 45.7%, 92.6%;
        --popover-foreground: 203, 70.9%, 28.7%;

        --border: 44, 28.1%, 76.4%;
        --input: 43, 78.6%, 46.5%;

        --card: 45, 45.7%, 92.6%;
        --card-foreground: 203, 70.9%, 28.7%;

        --primary: 203, 70.9%, 28.7%;
        --primary-foreground: 44, 54.7%, 64.7%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 44, 54.7%, 64.7%;
        --accent-foreground: 203, 70.9%, 28.7%;

        --destructive: 345, 66.7%, 48%;
        --destructive-foreground: 0, 0%, 98%;

        --info: 204 94% 94%;
        --info-foreground: 199 89% 48%;

        --success: 149 80% 90%;
        --success-foreground: 140.5, 82%, 39.2%;

        --warning: 48 96% 89%;
        --warning-foreground: 50, 100%, 40%;

        --error: 0 93% 94%;
        --error-foreground: 345, 66.7%, 48%;

        --ring: 203, 70.9%, 28.7%;

        --radius: 0.5rem;
    }
    .dark, [data-kb-theme="dark"] {
        --background: 251.3, 15.7%, 20%;
        --foreground: 43.8, 45.7%, 84.1%;

        --muted: 250.9, 7.5%, 28.8%;
        --muted-foreground: 240 5% 64.9%;

        --accent: 249.5, 11.7%, 32%;
        --accent-foreground: 43.8, 45.7%, 84.1%;

        --popover: 255, 14.3%, 16.5%;
        --popover-foreground: 43.8, 45.7%, 84.1%;

        --border: 255, 1.6%, 51.8%;
        --input: 43.8, 13.7%, 62.7%;

        --card: 255, 14.3%, 16.5%;
        --card-foreground: 43.8, 45.7%, 84.1%;

        --primary: 43.8, 45.7%, 84.1%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --destructive: 345.3, 66.5%, 48%;
        --destructive-foreground: 0, 33.3%, 98.8%;

        --info: 204 94% 94%;
        --info-foreground: 199 89% 48%;

        --success: 149 80% 90%;
        --success-foreground: 140.7, 82.9%, 39%;

        --warning: 50, 100%, 40%;
        --warning-foreground: 48 96% 89%;

        --error: 345.3, 66.5%, 48%;
        --error-foreground: 0, 33.3%, 98.8%;

        --ring: 43.8, 45.7%, 84.1%;

        --radius: 0.5rem;
    }
}

@layer base {
    [data-kb-theme="dark"][data-midnight-dark] {
        --background: 0 0% 0%;
        --foreground: 0 0% 90%;
        --sidebar-background: 0 0% 0%;
        --sidebar-foreground: 0 0% 90%;

        --card: 0 0% 4%;
        --card-foreground: 0 0% 90%;

        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 90%;

        --muted: 0 0% 10%;
        --muted-foreground: 0 0% 70%;

        --accent: 210 80% 10%;
        --sidebar-primary: 210 80% 10%;

        --bc-tier-color-0: #2c2744;
        --bc-tier-color-1: #4c5159;
        --bc-tier-color-2: #654834;
        --bc-tier-color-3: #435138;
        --bc-tier-color-4: #394b79;
        --bc-tier-color-5: #633c67;
        --bc-tier-color-6: #732c33;
        --bc-tier-color-7: #674e0e;
        --bc-tier-color-8: #3f6565;
        --bc-tier-color-9: #2f3137;
        --bc-tier-color-10: #7897aa;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1,
        "calt" 1;
    }
}

@layer utilities {
    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
        @apply ml-[-50px] mt-[-4px];
        content: counter(step);
    }

    .mt-25\% {
        margin-top: 25%;
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border: 4px solid transparent;
    background-clip: content-box;
    @apply bg-accent;
}

::-webkit-scrollbar-corner {
    display: none;
}

@layer base {
    :root {
        --sidebar-background: 45, 42.1%, 92.5%;
        --sidebar-foreground: 203, 70.9%, 28.7%;
        --sidebar-primary: 203, 70.9%, 28.7%;
        --sidebar-primary-foreground: 44, 54.7%, 64.7%;
        --sidebar-accent: 43.9, 60%, 45.1%;
        --sidebar-accent-foreground: 45, 42.1%, 92.5%;
        --sidebar-border: 44, 54.7%, 64.7%;
        --sidebar-ring: 43.9, 60%, 45.1%;
    }

    .dark, [data-kb-theme="dark"] {
        --sidebar-background: 251.3, 15.7%, 20%;
        --sidebar-foreground: 43.8, 45.7%, 84.1%;
        --sidebar-primary: 255, 14.3%, 16.5%;
        --sidebar-primary-foreground: 43.8, 45.7%, 84.1%;
        --sidebar-accent: 43.9, 60%, 45.1%;
        --sidebar-accent-foreground: 251.3, 15.7%, 20%;
        --sidebar-border: 43.8, 45.7%, 84.1%;
        --sidebar-ring: 43.8, 45.7%, 84.1%;
    }


}

@layer base {
    :root {
        --bc-tier-color-0: #D4CDAF;
        --bc-tier-color-1: #868D98;
        --bc-tier-color-2: #AF8162;
        --bc-tier-color-3: #7D966A;
        --bc-tier-color-4: #788CBE;
        --bc-tier-color-5: #AB7BB2;
        --bc-tier-color-6: #CC6672;
        --bc-tier-color-7: #D6AC43;
        --bc-tier-color-8: #78BABA;
        --bc-tier-color-9: #4D505B;
        --bc-tier-color-10: #A9BBC6;

        --bc-rarity-color-0: #8c8c8c;
        --bc-rarity-color-1: #a79170;
        --bc-rarity-color-2: #a67064;
        --bc-rarity-color-3: #627a98;
        --bc-rarity-color-4: #c27313;
        --bc-rarity-color-5: #0f87b6;
        --bc-rarity-color-6: #5a4ae5;
    }

    .dark, [data-kb-theme="dark"] {
        --bc-tier-color-0: #413A64;
        --bc-tier-color-1: #636A74;
        --bc-tier-color-2: #875F45;
        --bc-tier-color-3: #5C6F4D;
        --bc-tier-color-4: #49619C;
        --bc-tier-color-5: #814F87;
        --bc-tier-color-6: #983A44;
        --bc-tier-color-7: #947014;
        --bc-tier-color-8: #538484;
        --bc-tier-color-9: #464953;
        --bc-tier-color-10: #97AFBE;

        --bc-rarity-color-0: #636363;
        --bc-rarity-color-1: #7b674a;
        --bc-rarity-color-2: #775142;
        --bc-rarity-color-3: #495774;
        --bc-rarity-color-4: #8b550e;
        --bc-rarity-color-5: #0b5c7d;
        --bc-rarity-color-6: #3c32dc;
    }
}

.dots-before::before {
    content: '';
    background: repeating-linear-gradient(to right, hsl(var(--muted-foreground)), hsl(var(--muted-foreground)) 1px, transparent 2px, transparent 4px);
    height: 1px;
    margin-top: calc(1em + 1px);
    margin-right: 4px;
    flex-grow: 1;
}
